.signInModal__emailLabel {
  width: 360px;
  height: 14px;
  color: #2f71e5;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

@media screen and (max-width: 320px) {
  .signInModal__emailLabel {
    width: 90%;
  }
}

.signInModal__emailInput {
  width: 360px;
  height: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 35px;
}

.signInModal__emailInput::placeholder {
  opacity: 20%;
}

@media screen and (max-width: 320px) {
  .signInModal__emailInput {
    width: 90%;
    margin-bottom: 25px;
  }
}

.signInModal__passwordLabel {
  width: 360px;
  height: 14px;
  color: #2f71e5;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

@media screen and (max-width: 320px) {
  .signInModal__passwordLabel {
    width: 90%;
  }
}

.signInModal__passwordInput {
  width: 360px;
  height: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.signInModal__passwordInput::placeholder {
  opacity: 20%;
}

@media screen and (max-width: 320px) {
  .signInModal__passwordInput {
    width: 90%;
  }
}
