.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  width: 1440px;
  max-width: 100%;
  border-bottom: solid #d1d2d6 1px;
}
