.savedNews__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: #f5f6f7;
  flex-wrap: wrap;
  min-height: 100vh;
}

.savedNews__newsCardsContainer {
  display: flex;
  /* width: 1230px; */
  max-width: 100%;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

/* .newsCardList__newsCardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 65px;
} */

@media screen and (max-width: 768px) {
  .savedNews__newsCardsContainer {
    width: 100%;
    margin-top: 15px;
    min-height: 100vh;
  }
}

@media screen and (max-width: 320px) {
  .savedNews__newsCardsContainer {
    justify-content: center;
    margin-top: 15px;
    min-height: 100vh;
  }
}
