.searchForm__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 576px;
}

.searchForm__headerQuestion {
  height: 128px;
  width: 608px;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 60px;
  margin-top: 100px;
}

.searchForm__statement {
  height: 24px;
  width: 608px;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  margin: 0px;
}

.searchForm__searchBarWrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.searchForm__searchBar {
  width: 608px;
  height: 64px;
  border-radius: 35px;
  padding: 0px 0px 0px 20px;
  border: 1px solid #d1d2d6;
}

.searchForm__searchBar {
  outline: none;
}

.searchForm__searchBar::placeholder {
  font-family: Roboto, sans-serif;
}

.searchForm__inputError {
}

.searchForm__searchBarButton {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  border-radius: 35px;
  width: 168px;
  height: 66px;
  background-color: #2f71e5;
  border: none;
  margin-left: -168px;
}

.searchForm__searchBarButton:hover {
  background-color: #347eff;
  cursor: pointer;
  color: #fff;
}

.searchForm__searchBarButton:active {
  background-color: #2a65cc;
  color: #fff;
}
