.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .footer__container {
    flex-direction: column-reverse;
  }
}
.footer__leftSideContainer {
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b6bcbf;
  width: 433px;
  margin-left: 100px;
}

@media screen and (max-width: 768px) {
  .footer__leftSideContainer {
    margin-left: 40px;
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .footer__leftSideContainer {
    margin-left: 0px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

.footer__rightSideContainer {
  display: flex;
  width: 433px;
  justify-content: end;
  align-items: center;
  margin-right: 100px;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .footer__rightSideContainer {
    margin-right: 40px;
  }
}

@media screen and (max-width: 320px) {
  .footer__rightSideContainer {
    width: 90%;
    margin-right: 0px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .homepageLinkHome {
    grid-area: 1 / 1 / 2 / 2;
  }

  .tripleTenLink {
    grid-area: 2 / 1 / 3 / 2;
  }

  .githubLink {
    grid-area: 1 / 4 / 2 / 5;
  }

  .facebookLink {
    grid-area: 1 / 5 / 2 / 6;
  }
}

.footer_home {
  color: #1a1b22;
  font-family: Roboto, sans-serif;
  font-weight: 400px;
  font-size: 18px;
  width: 49px;
  height: 24px;
  cursor: pointer;
}

.footer_tripleTen {
  color: #1a1b22;
  font-family: Roboto, sans-serif;
  font-weight: 400px;
  font-size: 18px;
  width: 82px;
  height: 24px;
  margin-left: 25px;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .footer_tripleTen {
    margin-left: 0;
    margin-top: 0px;
  }
}

.footer__githubIcon {
  background-image: url("../../images/github.svg");
  height: 24px;
  width: 24px;
  margin-left: 25px;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .footer__githubIcon {
    margin-left: 0px;
  }
}

.footer__facebookIcon {
  background-image: url("../../images/fb.svg");
  height: 24px;
  width: 24px;
  margin-left: 20px;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .footer__facebookIcon {
    margin-left: 0px;
  }
}

.newsApiLink {
  text-decoration: none;
}

.homepageLinkHome {
  text-decoration: none;
}

.tripleTenLink {
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .tripleTenLink {
    margin-top: 0px;
  }
}

.githubLink {
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .githubLink {
    margin-left: 55px;
  }
}

.facebookLink {
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .facebookLink {
    margin-left: 22px;
  }
}
