.registerModal__emailLabel {
  width: 360px;
  height: 14px;
  color: #2f71e5;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@media screen and (max-width: 620px) {
  .registerModal__emailLabel {
    width: 90%;
  }
}

.registerModal__emailField {
  width: 360px;
  height: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.registerModal__emailField::placeholder {
  opacity: 20%;
}

@media screen and (max-width: 620px) {
  .registerModal__emailField {
    width: 90%;
    margin-bottom: 20px;
  }
}

.registerModal__passwordLabel {
  width: 360px;
  height: 14px;
  color: #2f71e5;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@media screen and (max-width: 620px) {
  .registerModal__passwordLabel {
    width: 90%;
  }
}

.registerModal__passwordField {
  width: 360px;
  height: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.registerModal__passwordField::placeholder {
  opacity: 20%;
}

@media screen and (max-width: 620px) {
  .registerModal__passwordField {
    width: 90%;
    margin-bottom: 20px;
  }
}

.registerModal__userNameLabel {
  width: 360px;
  height: 14px;
  color: #2f71e5;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@media screen and (max-width: 620px) {
  .registerModal__userNameLabel {
    width: 90%;
    display: none;
  }
}

.registerModal__userNameField {
  width: 360px;
  height: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.registerModal__userNameField::placeholder {
  opacity: 20%;
}

@media screen and (max-width: 620px) {
  .registerModal__userNameField {
    width: 90%;
    display: none;
  }
}
