.newsCard__cardContainer {
  background-color: #fff;
  height: 576px;
  width: 400px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .newsCard__cardContainer {
    height: 420px;
    width: 224px;
  }
}

@media screen and (max-width: 620px) {
  .newsCard__cardContainer {
    height: 440px;
    width: 288px;
  }
}

.newsCard__imageContainer {
  height: 272px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

@media screen and (max-width: 768px) {
  .newsCard__imageContainer {
    height: 150px;
    width: 224px;
  }
}

@media screen and (max-width: 620px) {
  .newsCard__imageContainer {
    height: 196px;
    width: 288px;
  }
}

.newsCardList__signInButton {
  position: absolute;
  margin-top: 0px;
  top: 1px;
  right: 44px;
  z-index: 1;
  width: 182px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-right: 10px;
  background-color: orange;
}

.newsCardList__signInButton:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .newsCardList__signInButton {
    width: 164px;
    top: 0px;
  }
}

.newsCard__imageSaveButtonContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.newsCard__imageSaveButtonContainer:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .newsCard__imageSaveButtonContainer {
    top: 8px;
    right: 8px;
  }
}

.newsCard__imageSaveButton {
  background-image: url("../../images/bookmark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 24px;
  width: 24px;
}

.newsCard__imageSaveButton:hover {
  background-image: url("../../images/Group\ 14.svg");
  height: 40px;
  width: 40px;
}

.newsCard__imageSaveButtonIsLiked {
  background-image: url("../../images/bookmarkMarked.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 24px;
  width: 24px;
}

.newsCard__imageTrashCanButton {
  background-image: url("../../images/grayTrash.svg");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-position: center;
}

.newsCard__keywordLabel {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 87px;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .newsCard__keywordLabel {
    top: 8px;
    left: 8px;
  }
}

.newsCard__keywordLableText {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.newsCard__image {
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
  width: 100%;
}

.newsCard__textContainer {
  height: 304px;
  width: 400px;
  margin-left: 20px;
}

.newsCard__textContainer:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .newsCard__textContainer {
    height: 244px;
    width: 90%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 620px) {
  .newsCard__textContainer {
    height: 244px;
    width: 90%;
    margin-left: 20px;
  }
}

.newsCard__dateText {
  width: 90%;
  height: 24px;
  color: #b6bcbf;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 620px) {
  .newsCard__dateText {
    width: 90%;
  }
}

.newsCard__headerText {
  width: 352px;
  height: 60px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 26px;
  color: #1a1b22;
  margin: 0px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .newsCard__headerText {
    height: 72px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    line-height: 24px;
  }
}

@media screen and (max-width: 620px) {
  .newsCard__headerText {
    height: 48px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    line-height: 24px;
  }
}

.newsCard__paragraphText {
  width: 352px;
  height: 110px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1a1b22;
}

@media screen and (max-width: 768px) {
  .newsCard__paragraphText {
    width: 90%;
    height: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

@media screen and (max-width: 620px) {
  .newsCard__paragraphText {
    width: 90%;
    height: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.newsCard__footerText {
  width: 90%;
  height: 20px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 16px;
  color: #b6bcbf;
}

@media screen and (max-width: 620px) {
  .newsCard__footerText {
    margin-top: 0px;
    width: 90%;
  }
}
